[![Join the Mermade Slack](https://img.shields.io/badge/Slack-Mermade-brightgreen)](https://join.slack.com/t/mermade/shared_invite/zt-g78g7xir-MLE_CTCcXCdfJfG3CJe9qA)
<a href="https://dev.to/mikeralphson">
  <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Mike Ralphson's DEV Profile" height="20" width="20">
</a>

### Most recent blog posts

<% for (let article of articles) { %>
* [<%= article.title %>](<%= article.link %>)<% } %>

